@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --purple: #855FB1;
    --light-grey: #87879D;
    --dark-grey: #28283D;
    --white: #FFFF;
    --cyan: #4D96A9;
    --light-cyan: #8FE3F9;
    --off-white: #f7f7fc;


    --btn-hover-1: #71C0D4;
    --btn-hover-2: #B18BDD;

}

body{

    font-family: "Poppins", serif;
    text-align: center;
}

/*--hero-section--*/

#logo{
    display: block;
    margin: 2em auto;
}

.hero-bg{
    background: url(meet-landing-page/starter-code/assets/tablet/image-hero.png) no-repeat center/cover;
    height: 20vh;
    width: 100vw;
    margin-bottom: 2em;
}

.desktop-bg{
    display: none;
}

.hero-text{
    margin: 0 0.6em;
}

.hero-text h1{
    font-size: clamp(2em, 2em, 2.6em);
    font-weight: 800;
    display: block;
    line-height: 1.3;
    padding: 1em 2em;
    
}

.hero-text p{
    font-size: clamp(0.9em , 1em, 1.3em);
    color: var(--light-grey);
    margin-bottom: 1.44em;
}

/* --- hero-btns-- */
.btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", serif;
    
}

.btn {
    font-family: "Poppins", serif;
    color: var(--white);
    padding: 1em 1.5em;
    border-radius: 28px;
    font-size: 16px;
}

.btn-1{
    background-color: var(--cyan);
    border: 0 solid var(--cyan); 
}

.btn-1:hover{
    background-color: var(--btn-hover-1);
}
.btn-2:hover {
    background-color: var(--btn-hover-2);
}

.vrs-control{
    color: var(--light-cyan);
}

.btn-2{
    background-color: var(--purple);
    border: 0 solid var(--purple);
    margin-top: 0.75em;
}

/* --- page-breaks -- */

.break{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.6em;
    
}
.vertical-line {
    border-left: 1px solid var(--light-grey);
    height: 85px;
    margin: 0 0.7em;
}

.break-one #one{
    border:1px solid var(--light-grey);
    padding: 1em 1.3em;
    border-radius: 50%;
    color: var(--light-grey);
    font-weight: 500;
    background-color: var(--off-white);
    
}

/* --display-imgs--*/

.display-imgs{
    margin: 2em 0;
}
.display-imgs img{
    width: 140px;
    height: 125px;
    border-radius: 10px;
    display: block;
    align-self: center;
}

.display-imgs .set-1 {
    justify-self: end;
}
.display-imgs .set-2{
    justify-self: start;
}


.dis-img-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5em;
}


/* --- mission-section ---*/

.mission{
    margin: 4em 1em 1em 1em;
}

.mission h2{
    font-size: clamp( 0.8em, 1em, 2em);
    color: var(--cyan);
    font-weight: 600;
    letter-spacing: 5px ;
}

.mission-description{
    font-size: clamp(1.9em, 1.9em , 2.3em) ;
    font-weight: 800;
    margin: 0.4em;
}

.mission-description + p{
    color: var(--light-grey);
}




.break-two #two {
    border: 1px solid var(--light-grey);
    padding: 1em 1.2em;
    border-radius: 50%;
    color: var(--light-grey);
    font-weight: 500;
    background-color: var(--off-white);
}

.break-two{
    z-index: 3;
    position: relative;
    top: 1.7em;
}

/* -- footer --*/

footer{
    background: var(--cyan) url(meet-landing-page/starter-code/assets/mobile/image-footer.jpg) center/cover no-repeat;
    height: 350px;
    width: 100vw;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 1.3em;
    color: var(--white);
}

#footer-header{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.8em;
}

.vrs-control-2 {
    color: var(--btn-hover-2);
}

.btn-3 {
    background-color: var(--purple);
    border: 0 solid var(--purple);
    margin-top: 0.9em;
}

.btn-3:hover{
    background-color: var(--btn-hover-2);
}


/* --- tablet-break-point---*/
@media (min-width:768px) {
    .hero-bg{
        background: url(meet-landing-page/starter-code/assets/tablet/image-hero.png) no-repeat center/cover;
        height: 30vh;
        width: 100vw;
        margin-bottom: 2.5em;
    }
    
    .hero p {
        margin: 0 9em;
    }
    
    .hero h1{
        padding: 1em 8em;
    }
    
    
    /*--btn-section--*/
    
    .btns {
        flex-direction: row;
        margin-top: 2em;
    }
    
    .btn-2{
        margin-top: 0;
        margin-left: 1em;
    }    
    
    /*-- dispaly-section--*/
    
    .display-imgs{
        margin: 2.2em 2em;
    }
    .display-imgs img{
        width: 160px;
        height: 150px;
    }
    
    .display-imgs .set-1 {
        justify-self: normal;
    }
    .display-imgs .set-2{
        justify-self: normal;
    }
    
    .dis-img-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0.9em;
    }

    /*-- mission-sec--*/
    .mission-description{
        font-size: clamp(1.9em, 1.9em , 2.3em) ;
        font-weight: 800;
        margin: 0.4em 3.9em ;
    }
    .mission{
        margin: 1em 5em;
    }
    
    /*--footer--*/
    footer{
        background: var(--cyan) url(meet-landing-page/starter-code/assets/tablet/image-footer.jpg) center/cover no-repeat;
        height: 40vh;
    }
    #footer-header{
        font-size: 2em;
        font-weight: 600;
        margin: 1em 7em;
    }
    
    #footer-header + p{
        margin: 0 3em 1em 3em;
    }
    
}


@media (min-width: 1024px){

    .hero  .hero-text{
        display: none;
    }
    .hero-bg{
        height: 0;
        background: none;
    }
    .desktop-bg{
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }

    .desktop-bg #d-bg-1{
        object-fit: cover;
        object-position: right;
    }

    .desktop-bg #d-bg-2{
        object-fit: cover;
        object-position: left;
    }
    
    .hero-text{
        margin: 0 0.5em;
    }
    
    .hero-text h1{
        font-size: 2.3em;
        font-weight: 800;
        padding: 1em 0;
    }


    /* --- page-breaks -- */

    .break{
        margin-top: 5em;
        margin-bottom: 3em;
    }


    /* --display-imgs--*/

    .display-imgs{
        margin: 2em;
    }

    .display-imgs img{
        width: 227px;
        height: 210px;
    }

    .display-imgs .set-1 {
        justify-self: normal;
    }
    .display-imgs .set-2{
        justify-self: normal;
    }


    /* --- mission-section ---*/

    .mission{
        margin: 10em 1em 1em 1em;
    }
    .mission-description + p{
        margin: 0 15em;
    }

    /*--break-two --*/

    .break-two{
        z-index: 3;
        position: relative;
        top: 5em;
    }


    /*--footer--*/

     footer{
        background: var(--cyan) url(meet-landing-page/starter-code/assets/desktop/image-footer.jpg) center/cover no-repeat;
        height: 40vh;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    #footer-header{
        margin: 0;
    }

    .btn-3{
        margin: 0 6em;
    }

}




